
@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2 style="color: #f60">Impressum</h2>

<p style="color: whitesmoke">
    Krake<br /><br />
    Janssen und Völkerink GbR <br />
    Schutzenweg 42 1/323, 26129 Oldenburg <br />
    info@krake-party.de <br />
    Steuernummer: 64/231/20602 (UmsatzsteuerID) <br />
</p>